{% extends 'base.html' %}
{% block content %}
<div class="p-3">
    <div class="container">
        <div class="row mt-3">
            <div class="col mx-auto mb-3">
                <h2>
                    Edit Review
                </h2>
                <hr />
                <form method="POST">
                    {% csrf_token %}
                    <p>
                        <label for="rating">Rating</label>
                        <select name="rating" id="rating" class="form-control" required>
                            <option value="">-- Select a rating --</option>
                            <option value="1" {% if template_data.review.rating == 1 %} selected {% endif %}>⭐️</option>
                            <option value="2" {% if template_data.review.rating == 2 %} selected {% endif %}>⭐️⭐️</option>
                            <option value="3" {% if template_data.review.rating == 3 %} selected {% endif %}>⭐️⭐️⭐️</option>
                            <option value="4" {% if template_data.review.rating == 4 %} selected {% endif %}>⭐️⭐️⭐️⭐️</option>
                            <option value="5" {% if template_data.review.rating == 5 %} selected {% endif %}>⭐️⭐️⭐️⭐️⭐️</option>
                        </select>
                    </p>
                    <p>
                        <label for="comment">
                            Comment:
                        </label>
                        <textarea name="comment" class="form-control" id="comment">{{template_data.review.comment}}</textarea>
                    </p>
                    <div class="text-start">
                        <button type="submit" class="btn bg-dark text-white">
                            Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}